h1{
    color: blue;
    font-style: italic;
}

div{
    border: rebeccapurple 2px solid;
    margin-bottom: 2px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 500px;
    background-color: rgb(158, 142, 172);
}